<h2>Welcome to <%= @crmAppName %></h2>
<p>Main Menue</p>
<ul>
	<li><a href="/contacts">View all contacts</a></li>
	<li><a href="/contacts/new">New Contact</a></li>
	<!-- STUFFFFFFFFFF GOESSSSSSS HERRRRRRRE!!! -->
</ul>