<!DOCTYPE html>
<html leng="en">
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<link rel="stylesheet" href="style.css" />
		<header>
			<h1>Customer Relationship Management</h1><br>
			<a href="/contacts">View Contacts</a>
			<a href="/contacts/new">Add New Contact</a>
		</header>
		<%= yield %>
		<footer>
			<p class="center">There is no copy right for this little assignment. I want more kBBQ.</p>
		</footer>
	</body>
</html>