<h2>Create new Contact</h2>

<form action="/contacts" method="post">
	<p>First Name: <input type="text" name="firstName"> </p>
	<p>Last Name: <input type="text" name="lastName"> </p>
	<p>E-mail: <input type="text" name="email" placeholder="i.e. john@smith.com"> </p>
	<p>Note: <input type="text" name="note"> </p>
	<!-- <p><input type="submit" name="Submit"> </p>-->
	<p><button type"submit">Submit</button>
</form>
