<h1>Create new Contact</h1>

<form action="/contacts" method="post">
	<input type="text" name="firstName">
	<input type="text" name="lastName">
	<input type="text" name="email">
	<input type="text" name="note">
	<input type="submit" name="Submit">
</form>
