<h2>New Contact</h2>

<form action="/contacts" method="post">
	<p><strong>First Name:</strong> <input type="text" name="firstName" required> </p>
	<p><strong>Last Name:</strong> <input type="text" name="lastName" required> </p>
	<p><strong>E-mail:</strong> <input type="email" name="email" placeholder="name@domain.com" required> </p>
	<p><strong>Note:</strong> <textarea name="note">Add any comments here</textarea> </p>
	<!-- <p><input type="submit" name="Submit"> </p>-->
	<p><button type"submit">Add!</button>
</form>
