h1 {
	text-align: center;
}

.footnote {
	text-align: center;
	font-size: 0.8em;
}

a {
	text-decoration: none;
	font: Arial;
}

ul.navbar {
	text-align: center;
	list-style: none;
}

ul.navbar li {
	display: inline;
	padding: 0 1em;
	border-right: 1px solid black;
}
ul.navbar li:last-child {
	border-right: none;
}

